* {
  box-sizing: border-box;
}

.navbar-right {
  margin-left: auto;
}

.navbar-brand {
  background-color: rgba(153, 196, 245, 0.884);
}

.navbar-light .navbar-brand  {
  color: white;
}

.bg {
  background-image: url("dan-maisey-uD-rUHU-1OQ-unsplash.jpg");
  background-color: lightblue;
  height: 100%vh;
  width: 100%vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.container-fluid {
  margin-top: 75px;
  margin-left: 200px;
}

.page-header {
  margin-left: 40px;
  padding: 20px;
}

.col-md-9 {
  margin-right: 50px;
}

.col-sm-12 {
  background-color: rgba(219, 226, 235, 0.8);
  margin-right: 0;
}

div img {
  padding-bottom: 40px;
  padding-left: 0%;
  padding-right: 0%;
  display: block;
  margin: auto;
  height: 350px;
  width: 350px;
}
